body,
html {
  height: 100%;
}

body {
  padding-top: 15px;
}

.help-icon {
  font-size: 16px;
  margin-left: 8px;
  color: #333;
  opacity: 0.5;
}

.items-center {
  align-items: center;
}

.btn.disabled {
  pointer-events: none;
  cursor: default;
}

.restore-disabled {
  opacity: 0.3;
}

.btn-round,
.input-round {
  border-radius: 20px;
  outline: none !important;
}

.btn-round[data-show-all-source],
.btn-round[data-show-trash-source] {
  padding-left: 20px;
  padding-right: 20px;
}

.active-source {
  background-color: #36344c;
  color: #ffff;
}

.active-source:hover,
.active-source:focus {
  color: white;
}

.spaced {
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.remove-item {
  color: #d9534f !important;
}

.remove-item:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

#app,
#contents {
  height: 100%;
  padding-bottom: 120px; /* Compensate for the top part of the Studio UI */
}

#app,
#contents {
  height: 100%;
  padding-bottom: 120px; /* Compensate for the top part of the Studio UI */
}

.data-source-table {
  margin-top: 20px;
}

.data-source-table th {
  border: none;
}

.data-source-table th.desc,
.data-source-table th.asc {
  cursor: pointer;
}

.data-source-table th.desc .fa-sort-amount-asc,
.data-source-table th.asc .fa-sort-amount-desc {
  display: none;
}

.data-source-table th.desc .fa-sort-amount-desc,
.data-source-table th.asc .fa-sort-amount-asc {
  display: inline-block;
}

.data-source-table td {
  border-left: none;
  border-right: none;
  border-bottom: none;
  vertical-align: middle;
}

.controls-wrapper {
  width: calc(100% - 491px);
  display: flex;
  align-items: center;
  min-height: 46px;
}

.controls-wrapper.data-settings,
.controls-wrapper.data-roles {
  width: 100%;
}

.back-name-holder {
  overflow: hidden;
  white-space: nowrap;
}

a[data-back] {
  color: #999999;
  font-size: 12px;
}

.name-wrapper {
  display: flex;
  align-items: flex-end;
}

.data-source-text {
  color: #00abd1;
}

.data-source-text:hover {
  color: #23527c;
  text-decoration: underline;
  cursor: pointer;
}

.editing-data-source-name {
  max-width: 100%;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-name-holder.hide-date .editing-data-source-name {
  max-width: 100%;
}

.backdoor-code {
  display: none;
}

.hide-backdoor {
  display: none;
}

#backdoor {
  display: inline-block;
  margin-bottom: 0;
}

.show-backdoor a.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.mce-edit-focus {
  outline: none !important;
}

.mce-item-table {
  width: 100%;
}

.mce-item-table tr:first-child td {
  background-color: #EEE;
  font-weight: bold;
  min-width: 50px;
}

.mce-item-table tr td {
  padding: 10px 8px;
}

.mce-floatpanel {
  left: auto !important;
  right: 15px;
  transform: translate(0, -5px);
}

.tab-content {
  overflow: auto;
}

.table-entries {
  overflow: auto;
  margin-top: 0;
}

.data-source-id {
  color: #bbbbbb;
}

.data-source-edit {
  width: 80px;
}

.data-source-edit {
  width: 80px;
}

.nav-tabs {
  margin-top: 4px;
}

.save-btn {
  display: flex;
  min-height: 46px;
  align-items: flex-end;
}

.data-save-updated {
  color: #999999;
  margin-left: 5px;
}

.back-name-holder.hide-date .data-save-updated {
  display: none;
}

[data-save] {
  transition: all 0.2s linear;
  margin-left: 20px;
}

[data-save].disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
  pointer-events: none;
}

.save-btn.disabled [data-save],
.save-btn.disabled .data-save-updated {
  opacity: 0;
  pointer-events: none;
}

.settings-btns {
  display: none;
  margin-left: 20px;
}

.settings-btns.active {
  display: inline-block;
}

.no-results-found {
  display: none;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.cell-wrapper {
  max-height: 110px;
  min-height: 100%;
  overflow: hidden;
}

.mce-ico {
  display: inline-block;
  font: normal normal normal 14px/1 tinymce;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.mce-i-undo:before {
  content: "\e00f";
}

.mce-i-redo:before {
  content: "\e010";
}

.mce-i-tableinsertrowbefore:before {
  content: "\e60a";
}

.mce-i-tableinsertrowafter:before {
  content: "\e60b";
}

.mce-i-tabledeleterow:before {
  content: "\e800";
}

.mce-i-tableinsertcolbefore:before {
  content: "\e608";
}

.mce-i-tableinsertcolafter:before {
  content: "\e609";
}

.mce-i-tabledeletecol:before {
  content: "\e801";
}

#source-contents .tab-content {
  position: relative;
  overflow: visible;
}

#source-contents .header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

#source-contents .tab-pane#roles,
#source-contents .tab-pane#settings {
  overflow: auto;
}

#toolbar {
  position: absolute;
  top: -94px;
  right: 0;
}

#toolbar .btn {
  border-radius: 0;
}

#toolbar .filter-wrapper {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#toolbar .filter-form {
  position: relative;
  width: 74px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

#toolbar .filter-form.expanded {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toolbar .filter-form .form-control {
  border: 1px solid transparent;
  padding: 0 0 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

#toolbar .filter-form .form-control:focus,
#toolbar .filter-form.expanded .form-control {
  border: 1px solid #e4e9eb;
  padding: 6px 108px 6px 30px;
  cursor: initial;
  width: calc(100% - 132px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#toolbar .filter-form .form-control:focus {
  border-color: #00abd1;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#toolbar .filter-form .find-controls {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 1;
  height: 44px;
  line-height: 44px;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

#toolbar .filter-form .find-results {
  color: #ccc;
  margin-right: 10px;
}

#toolbar .filter-form.expanded .find-controls {
  opacity: 1;
  visibility: visible;
}

#toolbar .filter-form .find-prev,
#toolbar .filter-form .find-next,
#toolbar .filter-form .reset-find {
  width: 44px;
  height: 44px;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #e4e9eb;
  cursor: pointer;
}

#toolbar .filter-form .find-prev:hover,
#toolbar .filter-form .find-next:hover,
#toolbar .filter-form .reset-find:hover {
  background-color: #eee;
}

#toolbar .filter-form .find-prev:active,
#toolbar .filter-form .find-next:active,
#toolbar .filter-form .reset-find:active,
#toolbar .filter-form .find-prev:hover:active,
#toolbar .filter-form .find-next:hover:active,
#toolbar .filter-form .reset-find:hover:active {
  background-color: #ccc;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#toolbar .filter-form .find-controls.disabled .find-prev,
#toolbar .filter-form .find-controls.disabled .find-next,
#toolbar .filter-form .find-controls.disabled .reset-find,
#toolbar .filter-form .find-prev.disabled,
#toolbar .filter-form .find-next.disabled,
#toolbar .filter-form .reset-find.disabled {
  pointer-events: none;
  opacity: 0.3;
}

#toolbar .filter-form .find-prev {
  border-right: none;
  border-left: none;
}

#toolbar .filter-form .find-next {
  border-left: none;
}

#toolbar .filter-form .reset-find {
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#toolbar .filter-form .find-icon {
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 30px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}

#toolbar .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 0;
}

#toolbar .btn-group > .btn:last-child:not(:first-child) {
  border-bottom-right-radius: 0;
}

#toolbar button[disabled] {
  opacity: 1;
  pointer-events: none;
}

#toolbar button[disabled]:hover {
  color: #333;
  background-color: #e4e9eb;
  border-bottom: 2px solid #cfd3d5;
}

#toolbar button[disabled] .mce-ico {
  opacity: 0.2;
}

.copy-cut-paste-overlay .shortcut-holder {
  display: flex;
  justify-content: space-around;
}

.copy-cut-paste-overlay .shortcut p:first-child {
  font-size: 32px;
  margin-bottom: 0;
  font-weight: bold;
  color: #6b6b6b;
}

.copy-cut-paste-overlay .win,
.copy-cut-paste-overlay .mac {
  display: none;
}

.copy-cut-paste-overlay .win.active,
.copy-cut-paste-overlay .mac.active {
  display: inline-block;
}

.copy-cut-paste-overlay.overlay-sm .overlayPanel {
  bottom: 60%;
}

@media screen and (min-width: 640px) {
  .copy-cut-paste-overlay.overlay-sm .overlayPanel {
    bottom: 60%;
  }
}

.loader-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 90px;
  left: 50%;
}

.menu-right {
  left: auto;
  right: 0;
}

#access-rules-list code {
  background-color: #f3f6fa;
  color: #567482;
  margin: 3px 0px;
  display: inline-block;
}

#access-rules-list tbody {
  background: #FFF;
}

#access-rules-list tr {
  transition: background-color 0.3s;
}

#access-rules-list tr.disabled {
  opacity: 0.5;
}

#access-rules-list tr.added {
  background-color: #FFEC84;
}

#access-rules-list tr.disabled a[data-toggle-status] {
  color: #000;
}

a[data-toggle-status]:hover {
  text-decoration: none;
}

td.align-baseline {
  vertical-align: baseline;
}

#configure-rule h5 {
  font-weight: bold;
  font-size: 16px;
  color: #474974;
}

#configure-rule .row {
  display: flex;
}

#configure-rule p {
  color: rgba(141, 142, 165, 0.8);
}

#configure-rule hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#configure-rule .side {
  align-items: center;
  display: flex;
}

#configure-rule .side.vertical {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#configure-rule .side .checkbox {
  margin-right: 22px;
}

#configure-rule .side .checkbox + .checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

#configure-rule form .btn {
  border: 0;
  margin-right: 10px;
  color: #787993;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

#configure-rule form .btn.selected {
  background-color: #474974;
  color: #FFF;
}

#configure-rule .apps-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.modal-footer {
  display: flex;
  align-items: flex-end;
}

.modal-footer p {
  flex: 1;
  margin: 0 0 0 10px;
  color: #777;
  font-size: 12px;
  text-align: left;
}

.required-fields {
  width: 100%;
}

.required-field {
  display: flex;
  margin: 10px 0;
  padding-bottom: 10px;
}

.required-field:last-of-type {
  border-bottom: 1px solid #eee;
}

.required-field input, .required-field .select-proxy-display {
  margin: 0 10px 0 0;
  width: 150px;
}

.required-field .select-proxy-display select {
  top: 0;
}

.dropdown {
  display: inline-block;
}

.users-filter {
  margin-top: 10px;
  width: 100%;
}

.tokenfield-ui {
  width: 60%;
}

.tokenfield {
  border-radius: 6px;
  padding: 13px 10px 7px;
  width: 100%;
}

.token-input {
  width: 300px !important; /* overwrite value from autocomplete */
}

.ui-autocomplete {
  z-index: 9999; /* goes above modal */
}

@media (min-width: 640px) {
  .modal-dialog {
    width: 880px;
  }
}

td.data-source-apps {
  min-width: 200px;
}
