.table-contents {
  min-height: 350px;
  padding: 20px;
}

.mce-content-body table {
  width: 100%;
}

.mce-content-body table tr:first-child td {
  background-color: #EEE;
  font-weight: bold;
  min-width: 50px;
}