{
  "extends": "fliplet",
  "globals": {
    "CodeMirror": "readonly",
    "Raven": "readonly",
    "spreadsheet": "readonly",
    "jsdoc": "readonly",
    "hot": "readonly",
    "Handsontable": "readonly",
    "Papa": "readonly",
    "SearchFilter": "readonly",
    "applySearchFilter": "readonly",
    "searchTerm": true,
    "search": "readonly",
    "currentDataSourceId": true,
    "table": true,
    "searchField": true,
    "$sourceContents": true,
    "$initialSpinnerLoading": true,
    "currentDataSourceDefinition": true
  }
}
