{
  "extends": "fliplet",
  "globals": {
    "CodeMirror": "readonly",
    "Raven": "readonly",
    "spreadsheet": "readonly",
    "jsdoc": "readonly",
    "hot": "readonly",
    "Handsontable": "readonly",
    "Papa": "readonly",
    "dataSourceEntriesHasChanged": true,
    "currentDataSourceId": true,
    "searchField": true,
    "$sourceContents": true,
    "$initialSpinnerLoading": true,
    "currentDataSourceDefinition": true
  }
}
