{
  "extends": "fliplet",
  "globals": {
    "CodeMirror": "readonly",
    "Raven": "readonly",
    "spreadsheet": "readonly",
    "jsdoc": "readonly",
    "hot": "readonly",
    "Handsontable": "readonly",
    "Papa": "readonly",
    "currentDataSourceId": true,
    "table": true,
    "searchField": true,
    "$sourceContents": true,
    "$initialSpinnerLoading": true,
    "currentDataSourceDefinition": true,
    "updateDataSourceEntries": true,
    "FILTER_STORAGE_KEY": true,
    "resetPagination": true,
    "HistoryStack": true,
    "ColumnsTracking": true
  }
}
