<tr class="data-source" data-id="{{id}}">
    <td class="data-source-name"><a href="#" data-browse-source>{{name}}</a></td>
    <td class="text-right"><button class="btn btn-default" data-browse-source>Edit</button></td>
</tr>