<tr class="data-source" data-id="{{id}}">
    <td class="data-source-name"><a href="#" data-browse-source>{{name}}</a></td>
    <td class="data-source-apps">{{#each apps}} {{name}} {{#unless @last}},{{/unless}} {{/each}}</td>
    <td class="data-source-id">{{id}}</td>
    <td class="data-source-edit text-right"><button class="btn btn-default" data-browse-source>Edit</button></td>
</tr>