<p>These actions are unavailable, but you can still use:</p>
<div class="shortcut-holder">
  <div class="shortcut">
    <p><span class="win">CTRL</span><span class="mac">⌘</span> + C</p>
    <p>for copy</p>
  </div>
  <div class="shortcut">
    <p><span class="win">CTRL</span><span class="mac">⌘</span> + X</p>
    <p>for cut</p>
  </div>
  <div class="shortcut">
    <p><span class="win">CTRL</span><span class="mac">⌘</span> + V</p>
    <p>for paste</p>
  </div>
</div>