<div class="required-field">
  <button class="btn" data-remove-field><i class="fa fa-minus fa-fw"></i></button>
  <input name="field" class="form-control" type="text" placeholder="Field name"/>
  <label class="select-proxy-display">
    <select class="hidden-select form-control" name="required-field-type">
      <option value="required">Is required</option>
      <option value="equals">Equals to</option>
    </select>
    <span class="icon fa fa-chevron-down"></span>
  </label>
  <input name="value" class="form-control hidden" type="text" placeholder="Value" data-toggle="tooltip" data-placement="top" title="To reference user data, use \{{&nbsp;user.[*]&nbsp;}} e.g. \{{&nbsp;user.[Email]&nbsp;}},<br />\{{&nbsp;user.[First&nbsp;name]&nbsp;}}"/>
</div>