<div class="required-field">
  <button class="btn" data-remove-field><i class="fa fa-minus fa-fw fa-lg"></i></button>
  <input name="column" class="form-control" type="text" placeholder="Name"/>
  <label class="select-proxy-display">
    <select class="hidden-select form-control" name="required-field-type">
      <option value="equals">Equals</option>
    </select>
    <span class="icon fa fa-chevron-down"></span>
  </label>
  <input name="value" class="form-control" type="text" placeholder=""/>
</div>